#{extends 'main.html' /}

<div id="edit-modal" class="modal fade edit-modal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<textarea id="dream-text" class="form-control" rows="5" onkeyup="limitDreamLength()"></textarea>
				<input type="hidden" id="dreamId">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">&{'dream.edit.cancel'}</button>
				<button type="button" class="btn btn-primary" onclick="updateDream()">&{'dream.edit.save'}</button>
			</div>
		</div>
	</div>
</div>


#{list items:dreams, as:'dream'}
	<div class="row" id="dream-row-${dream.id}">
		<div class="col-md-1">
			#{if dream.isDone }
				<button id="mark-${dream.id}" type="button" class="btn btn-warning btn-lg" onclick="markDream(${dream.id})">
					<span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
				</button>
			#{/if}
  			#{else}
  				<button id="mark-${dream.id}" type="button" class="btn btn-success btn-lg" onclick="markDream(${dream.id})">
					<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
				</button>
  			#{/else}
		</div>
		<div class="col-md-9">
			<blockquote>
				#{if dream.isDone }
					<p id="dream-${dream.id}"><del>${dream.dream}</del></p>
				#{/if}
				#{else}
					<p id="dream-${dream.id}">${dream.dream}</p>
				#{/else}
				<footer>Added ${dream.added}</footer>
			</blockquote>
		</div>
		<div class="col-md-1">
			<button id="mark-${dream.id}" type="button" class="btn btn-info btn-lg" onclick="editDream(${dream.id})" data-toggle="modal" data-target=".edit-modal">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</button>
		</div>
		<div class="col-md-1">
			<button id="mark-${dream.id}" type="button" class="btn btn-danger btn-lg" onclick="removeDream(${dream.id})">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
	</div>
#{/list}

<script>
	var confirmRemove = "&{'dream.remove-confirm'}";
	var markAction = #{jsRoute @MyList.markDream(':id') /};
	var updateAction = #{jsRoute @MyList.updateDream(':id') /};
	var removeAction = #{jsRoute @MyList.removeDream(':id') /};
</script>
